html {
    height: 100%;
}

body {
    background-color: white;
    font-family: "DM Sans";
    height: 100%;
}

h1 {
    font-size: 24pt;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 12pt;
    font-weight: 500;
    text-align: center;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: 500;
}


.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.child {
    margin: 5px auto;
}

.emailInput {
    width: 400px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #E4E4E4;
}

@media (max-width: 400px) {
    .emailInput {
        width: 220px;
        height: 50px;
        padding: 0;
        margin: 0px auto;
        border: none;
        background-color: #E4E4E4;
    }

    .submitButton {
        background-color: #84A6FD;
        border: none;
        border-radius: 0px;
        margin: 4px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

.emailParent {
    width:fit-content;
    height:fit-content;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border: none;
    padding-left: 8px;
    background-color: #E4E4E4;
    border-radius: 12px;
}

.emailParentSuccess {
    width:fit-content;
    height:fit-content;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1.25px;
    padding-bottom: 1.25px;
    background-color: #E4E4E4;
    border-radius: 12px;
}

.submitButton {
    background-color: #84A6FD;
    border: none;
    border-radius: 8px;
    margin: 4px;
    padding-left: 12px;
    padding-right: 12px;
}

.styledLink {
    color: #4A6DC6;
    text-decoration: none;
}

.success {
    color: #9CFD84;
}