/* HERO STYLES */
.hero {
  display: flex;
  max-width: 75rem;
  margin: 6rem auto;
  padding: 0 3rem;
}

.hero .imageContainer {
  display: grid;
}

.hero .imageContainer img {
  position: relative;
  -webkit-user-drag: none;
  user-select: none;
  grid-area: 1 / 1;
}

.hero .imageContainer img:nth-child(1) {
  z-index: 1;
  margin-top: -6rem;
  margin-left: -7rem;
}

.hero > .imageContainer > img:nth-child(2) {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 2;
}

.heroText {
  padding: 20px;
  max-width: 27.5rem;
}

.heroText h1 {
  font-size: 2.5rem;
}

.heroText p {
  font-size: 1.125rem;
}

@media screen and (max-width: 960px) {
  .hero {
    flex-direction: column;
    padding: 0 2rem;
  }

  .hero .imageContainer {
    margin-top: 3rem;
  }

  .hero .imageContainer img {
    object-fit: contain;
    width: 80vw;
  }

  .hero .imageContainer img:nth-child(1) {
    margin-left: -4rem;
    margin-top: -4rem;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    margin: 1rem auto 3rem auto;
  }
  .hero h1 {
    font-size: 2rem;
  }

  .hero .imageContainer img:nth-child(1) {
    margin-left: -3rem;
    margin-top: -3rem;
  }
}

.subhero {
  background-color: #2461ff;
  color: #fff;
  padding: 4rem 14rem;
  text-align: center;
}

.subhero h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 2rem 0;
}

.subhero p {
  font-size: 1.25rem;
}

@media screen and (max-width: 960px) {
  .subhero {
    padding: 4rem;
  }
  .subhero h1 {
    font-size: 2rem;
  }

  .subhero p {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 600px) {
  .subhero {
    padding: 2rem;
  }
}

.products {
  padding: 2rem 3.75rem;
}

.products h1 {
  font-size: 2.5rem;
  max-width: 43.5rem;
  user-select: none;
}

.products .productList {
  display: flex;
  gap: 2.5rem;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  outline: rgba(0, 0, 0, 0.05) solid 0.1875rem;
}

.productCard h2 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  user-select: none;
}

.productCard h3 {
  font-size: 1.5rem;
}

.productCard img {
  -webkit-user-drag: none;
  user-select: none;
}

@media screen and (max-width: 960px) {
  .products {
    padding: 2rem;
  }
  .products .productList {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .products {
    padding: 2rem 1rem;
  }
  .products h1 {
    font-size: 2rem;
  }

  .products .productList {
    flex-direction: column;
  }
}

section.advantages {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #f8f8f8;
}

section.advantages h1 {
  font-size: 2.5rem;
}

section.advantages .advantagesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 5rem;
  padding: 2rem 3.75rem;
}

section.advantages .advantagesGrid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  gap: 1rem;
}

section.advantages .advantagesGrid svg {
  width: 2rem;
  height: 2rem;
  stroke: #a7c0ff;
  stroke-width: 2px;
}

@media screen and (max-width: 960px) {
  section.advantages .advantagesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  section.advantages h1 {
    font-size: 1.75rem;
  }

  section.advantages .advantagesGrid {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 1.5rem;
  }

  section.advantages .advantagesGrid > div {
    font-size: 1rem;
  }
}

.footer {
  margin: 1.25rem;
  border-radius: 1.25rem;
  background-color: #2461ff;
  color: #fff;
  text-align: center;
  padding: 2rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer h1 {
  font-size: 4rem;
  margin: 4rem 0 1rem 0;
}

.footer .formInput {
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  border: none;
  background-color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  outline: none;

  transition: outline 0.2s ease-in-out;
}

.footer .formInput:focus-within {
  outline: #c4c4c4 solid 0.25rem;
}

.footer input:focus {
  outline: none;
}

.footer input {
  font-size: 1.25rem;
  font-family: 'Aeonik Pro';
  border: none;
}

.footer button {
  background: none;
  border: none;
}

.footer button:hover {
  cursor: pointer;
}

.footer button svg {
  stroke: rgba(0, 0, 0, 0.4);
  width: 1.5rem;
  height: 1.5rem;
}

.footer .links {
  margin: 6rem 0 0 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer .links a {
  color: white;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.footer .links a:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .footer {
    padding: 2rem 4rem;
  }

  .footer .links {
    margin: 3rem 0 0 0;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
  }

  .footer .formInput {
    padding: 0.25rem 0.5rem;
  }

  .footer input {
    font-size: 0.875rem;
  }

  .footer .links {
    margin: 3rem 0 1rem 0;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}

.newButton:hover {
  background-color: black;
  color: white;
  opacity: 0.5;
}

.linkStyle {
  text-decoration: none;
}
