button.ctaButton {
  padding: .375rem .75rem;
  font-weight: bold;
  border: none;
  border-radius: .75rem;
  font-size: 1.25rem;
  font-family: 'Aeonik Pro';
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 0.625rem;

  transition: background-color, filter 1s;
}

button.purple:hover {
  opacity: 0.9;
  background-color: #D783FF;
  color: white;
  transition-duration: 0.75s;
}

button.purple {
  background-color: #84A6FD;
  color: black;
}

button.orange {
  background-color: #FFBA7A;
  color: black;
}

button.orange:hover {
  background-color: #f5caa2;
}